/*GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";

*{
    font-family:"Google Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family:  "Merriweather", serif;
}


